@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/MullerLight.ttf') format('truetype'),
       url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerThinDEMO.eot');
  src: url('../fonts/MullerThinDEMO.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MullerThinDEMO.svg#MullerThinDEMO') format('svg'),
       url('../fonts/MullerThinDEMO.ttf') format('truetype'),
       url('../fonts/MullerThinDEMO.woff') format('woff'),
       url('../fonts/MullerThinDEMO.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../fonts/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/Raleway-Medium.woff') format('woff'),
	     url('../fonts/Raleway-Medium.eot'),
	     url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.eot');
  src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg'),
       url('../fonts/Raleway-Light.ttf') format('truetype'),
       url('../fonts/Raleway-Light.woff') format('woff'),
       url('../fonts/Raleway-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
       url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
       url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
       url('../fonts/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('../fonts/Raleway-Bold.ttf') format('truetype'),
       url('../fonts/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
html {
	box-sizing: border-box;
}
*, *::after, *::before {
	box-sizing: inherit;
}
body {
	font-family: 'Raleway', Arial, sans-serif;
	background-color: #fdfaf3;
}
.page-header {
	max-width: 100%;
	background-image: url(../images/header-photo.webp);
	background-position: center 82px;
	background-repeat: no-repeat;
}
.page-container {
	max-width: 1170px;
	margin: 0 auto;
}
.default-p {
	font-size: 16px;
	line-height: 25px;
	font-weight: 300;
	margin: 0;
}
.header-content {
	background: no-repeat left top url(../images/header-bg.webp);
	background-size: 50% 100%;
}
.upper-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.header-nav {
	width: 170px;
}
.header-btn {
	width: 27px;
	height: 20px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
	padding: 0;
	left: 8px;
}
.header-nav-stripe, .header-nav-stripe:before, .header-nav-stripe:after {
	width: 26px;
	height: 2px;
	background-color: #fff;
	position: relative;
}
.header-nav-stripe:before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
}
.header-nav-stripe:after {
	content: "";
	position: absolute;
	top: -8px; 
	left: 0;
}
.header-logo {
	width: 62px;
	margin: 22px auto;
}
.header-tel {
	display: flex;
	font-family: 'Muller', Arial, sans-serif;
	font-size: 14px;
	margin-top: 30px;
	letter-spacing: 0.075em;
	width: 170px;
	justify-content: space-between;
	font-weight: 300;
}
.tel-svg {
	width: 10px;
	height: 15px;
}
.header-text {
	display: flex;
	flex-direction: column;
	padding-top: 180px;
	padding-left: 95px;
	color: #fff;
}
.default-heading {
	font-size: 45px;
	font-family: 'Playfair Display', Arial, serif;
	font-weight: 700;
	letter-spacing: 0.01em;
	color: #00203a;
	margin: 0;
}
.header-text .default-heading {
	font-size: 61px;
	width: 365px;
	line-height: 59px;
	letter-spacing: 0.025em;
	padding-bottom: 27px;
	color: #fff;
}
.header-text-body {
	font-size: 14px;
	font-family: 'Muller';
	line-height: 20px;
	letter-spacing: 0.05em;
	font-weight: 300;
	max-width: 325px;
	margin: 0;
	padding-bottom: 32px;
	padding-left: 5px;
}
.page-btn {
	display: flex;
	color: #fff;
	letter-spacing: 0.1em;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	width: 230px;
	margin-left: 7px;
	border: 2px solid #fff;
	transition: background-color 0.2s;
	text-decoration: none;
	padding: 20px 15px 20px 30px;
	box-sizing: content-box;
}
.btn-text {
	padding: 0 20px 0 0;
	margin: 0;
}
.page-btn img {
	align-self: center;
}
.page-btn:hover {
	background-color: #f09d57;
	color: #fff;
}
.bottom-content {
	padding-bottom: 28px;
	padding-top: 190px;
}
.bottom-content .socials {
	display: flex;
	justify-content: space-between;
	width: 110px;
	margin-left: 8px;
	display: flex;
}
.socials svg{
	width: 15px;
	height: 15px;
	color: #fff;
	fill: #fff;
	opacity: 67%;
}
.bottom-content .stripes {
	display: flex;
	justify-content: space-between;
	width: 140px;
	margin-left: auto;
	position: relative;
	top: -15px;
}
.stripes .stripe {
	width: 25px;
	height: 3px;
	background-color: #cdd3cf;
}
.stripes a:first-child .stripe{
	opacity: 100%;
	background-color: #1a444a;
}
.main-advantages {
	padding-top: 88px;
	padding-bottom: 116px;
}
.advantages-content {
	display: flex;
	height: 514px;
}
.advantages-element {
	width: 24.7863%;
	padding-right: 40px;
}
.advantages-element .element-number {
	font-family: 'Playfair Display', Arial, serif;
	font-size: 85px; 
	font-weight: 700;
	color: #fea052;
	opacity: 26%;
	margin: 0;
	padding-bottom: 10px;
}
.advantages-element h3 {
	font-size: 22px;
	color: #1a292f;
	margin: 0;
	font-weight: 600;
	padding-bottom: 18px;
	line-height: normal;
}
.advantages-element .default-p {
	color: #838383;
	letter-spacing: 0.05em;
	margin: 0;
}
.advantages-element:nth-child(2), .advantages-element:last-child {
	align-self: flex-end;
}

.advantages-element:nth-child(3), .advantages-element:last-child {
	margin-top: 10px;
}
.advantages-element:last-child {
	padding: 0;
}
.portfolio-section {
	padding-bottom: 125px;
}
.portfolio-navigation {
	display: flex;
	width: 48.718%;
	justify-content: space-between;
	padding-bottom: 60px;
	padding-top: 57px;
}
.portfolio-adaptive {
	display: none;
}
.portfolio-bottom-text {
	display: none;
}
.portfolio-navigation a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 300;
	color: #7d7d7d;
	position: relative;
	transition: color .3s;
}
.portfolio-navigation a:after {
	content: "";
	width: 0;
	background-color: #182c3d;
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 2px;
	transition: .4s;
}
.portfolio-navigation a:hover:after {
	width: 100%;
}
.portfolio-navigation a:hover {
	color: #00203a;
	font-weight: 600;
}
.portfolio-gallery {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 550px;
}
.gallery-element {
	width: 22.22%;
	transition: 1s all;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.gallery-element:first-child {
	background: linear-gradient(to right, rgba(17, 37, 55, .8) 0%, rgba(17, 37, 55, .8)), url(../images/gallery-first.webp) no-repeat center center;
	background-size: cover, cover;
}
.gallery-element:nth-child(2) {
	background: linear-gradient(to right, rgba(17, 37, 55, .8) 0%, rgba(17, 37, 55, .8)), url(../images/gallery-second.webp) no-repeat center center;
	background-size: cover, cover;
}
.gallery-element:nth-child(3) {
		background: linear-gradient(to right, rgba(17, 37, 55, .8) 0%, rgba(17, 37, 55, .8)), url(../images/gallery-third.webp) no-repeat center center;
	background-size: cover, cover;
}
.gallery-element:last-child {
		background: linear-gradient(to right, rgba(17, 37, 55, .8) 0%, rgba(17, 37, 55, .8)), url(../images/gallery-last.webp) no-repeat center center;
	background-size: cover, cover;
}
.gallery-element:hover {
	flex-grow: 2;
}
.gallery-element:first-child:hover {
	background: url(../images/gallery-first.webp) no-repeat center;
	background-size: cover;
}
.gallery-element:nth-child(2):hover {
	background: url(../images/gallery-second.webp) no-repeat center;
	background-size: cover;
}
.gallery-element:nth-child(3):hover {
	background: url(../images/gallery-third.webp) no-repeat center;
	background-size: cover;
}
.gallery-element:last-child:hover {
	background: url(../images/gallery-last.webp) no-repeat center;
	background-size: cover;
}
.gallery-element .default-p {
	color: #fff;
	width: 160px;
	margin: 30px 0 0 25px;
	font-weight: 600;
	letter-spacing: 0.05em;
}
.gallery-element:hover .default-p, .gallery-element:hover .rotated {
	display: none;
}
.gallery-element:hover .plus {
	background-color: rgba(252, 189, 132, 0.95);
}
.gallery-element:hover .plus svg {
	display: block;
}
.arrow-left {
	width: 35px;
	height: 20px;
	position: absolute;
	top: 245px;
	left: 30px;
}
.arrow-right {
	width: 35px;
	height: 20px;
	position: absolute;
	right: 30px;
	top: 245px;
}
.gallery-element:last-child .arrow {
	width: 35px;
	height: 20px;
	position: absolute;
	top: 245px;
	right: 30px;
}
.gallery-element .rotated {
	font-family: "Muller", Arial, sans-serif;
	margin: 0;
	top: -160px;
	font-size: 14px;
	color: #fff;
	transform: rotate(-90deg);
	position: relative;
	left: -100px;
	font-weight: 200;
	letter-spacing: 0.075em;
}
.plus {
	width: 85px;
	height: 85px;
	border-radius: 100%;
	background-color: rgba(252, 189, 132, 0);
	margin-top: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-element a {
	align-self: center;
}
.gallery-element a:nth-of-type(2) {
	margin-bottom: 230px;
}
.gallery-element .plus svg {
	display: none;
	fill: #fff;
	
}
.services-section .page-container {
	background-image: url(../images/services-photo.webp);
	background-repeat: no-repeat;
	background-position: top 118px right;
	padding-bottom: 133px;
}
.services-wrapper {
	display: flex;
	align-items: flex-end;
}
.click-option {
	margin-top: 67px;
	display: inline-flex;
	flex-direction: column;
	height: 613px;
	flex-wrap: wrap;
	width: 777px;
}
.click-option label {
	margin-top: 80px;
	font-weight: 300;
	font-size: 18px;
	color: #7d7d7d;
	width: 200px;
	letter-spacing: 0em;
	transition: transform 0.3s, color 0.3s;
}
.click-option label:last-of-type, .click-option label:nth-of-type(5) {
	margin-top: 73px;
}
.click-option label:first-of-type {
	margin-top: 10px;
}
.click-option .services-content {
	margin-top: auto;
	max-height: 355px;
	width: 490px;
	margin-left: auto;
}
.services-content .service-heading {
	font-family: 'Playfair Display', Arial, serif;
	color: #00203a;
	font-size: 30px;
	letter-spacing: 0.025em;
	font-weight: 400;
	margin: 0;
	padding-bottom: 15px;
}
.services-content .service-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #5e5e5e;
	margin: 0;
}
.click-option input ~ .services-content p {
	display: none;
}
.click-option input:first-of-type:checked ~ .services-content p:first-of-type, .click-option input:nth-of-type(2):checked ~ .services-content p:nth-of-type(2), .click-option input:nth-of-type(3):checked ~ .services-content p:nth-of-type(3), .click-option input:nth-of-type(4):checked ~ .services-content p:nth-of-type(4), .click-option input:nth-of-type(5):checked ~ .services-content p:nth-of-type(5), .click-option input:last-of-type:checked ~ .services-content p:last-of-type {
	display: block;
}
.click-option input {
 display: none;
}
.click-option label:hover {
	transform: translateX(30px);
	color: #00203a;
	font-weight: 600;
	cursor: pointer;
}
.button-wrapper {
	margin-left: auto;
	margin-bottom: 8px;
}
.button-wrapper p {
	margin: 0;
	padding-bottom: 73px;
	text-align: right;
	font-size: 18px;
	letter-spacing: 0.025em;
	margin-right: 4px;
}
.button-wrapper .services-btn {
	border: 2px solid #112537;
	color: #112537;
	width: 218px;
	padding: 18px 0px 18px 0px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 0.1em;
	transition: all 0.2s;
	display: flex;
	justify-content: center;
	margin: 0;
}
.button-wrapper a {
	text-decoration: none;
}
.video-section {
	height: 595px;
	background: linear-gradient(to right, rgba(17, 37, 55, .7) 0%, rgba(17, 37, 55, .7)), url(../images/video-preview.webp) no-repeat center;
	background-size: cover, cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.video-section .plus {
	margin-top: 23px;
	background-color: rgba(252, 189, 132, 0.95);
}
.video-svg {
  position: relative;
  right: -2px;
  width: 22px;
	height: 25px;
}
.video-section p {
	font-size: 18px;
	letter-spacing: 0.025em;
	color: #fff;
	margin: 25px 0;
	font-weight: 400;
}
.work-stages {
	padding-top: 125px;
}
.work-cards {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.work-element {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 323px;
	margin-left: 90px;
}
.work-element:nth-child(3), .work-element:last-child {
	margin-left: 80px;
}
.work-element:first-child, .work-element:nth-child(4) {
	margin-left: 20px;
}
.work-element:nth-child(4) p, .work-element:nth-child(5) p, .work-element:last-child p {
	padding-bottom: 122px;
	}
.work-stages .default-heading {
	padding-bottom: 82px;
}
.circle-number {
	position: absolute;
	top: -3px;
	left: 3px;
	border-radius: 100px;
	background-color: #fde5d1;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	padding: 5px 9px 5px 9px;
	color: #00203a;
	box-shadow:  0 0 0 7px #fdfaf3, 0 0 0 8px rgba(253, 229, 209, 0.25),  0 0 0 15px #fdfaf3, 0 0 0 16px rgba(253, 229, 209, 0.25), 0 0 0 24px #fdfaf3, 0 0 0 25px rgba(253, 229, 209, 0.08);
}
.work-element h3, .work-element p {
	margin: 0;
	margin-left: 20%;
	width: 270px;
}
.work-element h3 {
color: #313131;
font-weight: 600;
font-size: 22px;
line-height: 18px;
position: relative;
padding-bottom: 30px;
}
.work-element h3:after {
	content: '';
	width: 40px;
	height: 1px;
	background-color: #182c3d;
	position: absolute;
	left: 0;
	bottom: 12px;
}
.work-element .default-p {
	color: #5e5e5e;
	padding-top: 5px;
	padding-bottom: 65px;
}
.contacts-section {
	background-color: #182c3d;
	background-image: url(../images/contacts-kitchen.webp);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
	padding-bottom: 53px;
}
.contact-info {
	width: 485px;
	padding-left: 10px;
}
.contact-info .default-heading {
	color: #fff;
	font-size: 40px;
	padding-top: 68px;
	letter-spacing: 0.02em;
	padding-bottom: 20px;
}
.contact-info p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding-bottom: 25px;
	letter-spacing: 0.05em;
}
.user-input {
	display: block;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #918e8b;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.6);
	padding: 10px 22px 10px 8px;
	margin-bottom: 32px;
}
.user-input::placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.6);
}
.contact-info .page-btn {
	background-color: transparent;
	justify-content: center;
	width: 100%;
	padding: 22px 0 22px 0;
	border-radius: 5px;
	margin: 0;
	margin-top: 47px;
	letter-spacing: 0.1em;
	font-size: 15px;
	cursor: pointer;
	font-weight: 800;
}
.contact-info .page-btn:hover, .services-btn:hover {
	background-color: #f09d57;
	color: #fff;
}
.contact-info svg, .contact-info svg path {
	width: 20px;
	fill: rgba(255, 255, 255, 0.6);
	position: absolute;
	right: 1px;
}
.contact-info form {
	position: relative;
}
.contact-info svg:first-child {
	top: 5px;
}
.contact-info svg:nth-child(2) {
	top: 73px;
}
.svg-envelope {
	top: 150px;
}
.contacts-section .contacts-footer {
	padding-top: 20px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: 0.05em;
	font-size: 14px;
}
.reviews-section {
	padding-top: 147px;
	position: relative;
	background: url(../images/footer-left.webp), url(../images/footer-right.webp);
	background-size: 201px 192px, 198px 192px;
	background-repeat: no-repeat, no-repeat;
	background-position: left top 317px, right top 317px;
	padding-bottom: 160px;
}
.review-text {
	max-width: 655px;
	background-color: #fff;
	margin-top: 85px;
	margin-left: 193px;
	padding: 43px 140px 47px 70px;
	position: relative;
}
.review-text h3 {
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #313131;
	letter-spacing: 0em;
	margin: 0;
	padding-bottom: 10px;
}
.review-text .yellow-text {
	color: #efb172;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	letter-spacing: 0.075em;
}
.review-text .default-p {
	margin-top: 23px;
}
.footer-photo {
	max-width: 215px;
	position: absolute;
	top: 36px;
	right: -137px;
}
.reviews-section .stripes {
	display: flex;
	justify-content: space-between;
	width: 140px;
	margin: 0 auto;
	margin-top: 81px;
}
.footer-content {
	background-color: #182c3d;
	padding-bottom: 73px;
}
.last-content {
	padding-top: 77px;
	display: flex;
	justify-content: space-between;
}
.last-content .footer-logo {
	display: block;
	padding-bottom: 35px;
	margin: 0 auto;
}
.last-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: 0;
	color: #ffc487;
	display: flex;
	align-items: center;
	width: 180px;
	margin-top: 40px;
	margin-left: 7px;
	margin-bottom: 35px;
}
	.last-content p:last-child {
	text-align: right;
	display: inline-block;
	margin-bottom: 0;
	}
.footer-svg {
	width: 15px;
	height: 15px;
	margin-left: 9px;
}
.last-content .footer-socials {
	display: flex;
	width: 155px;
	justify-content: space-between;
	margin-top: 5px;
}
.footer-socials svg, .footer-socials svg path {
	width: 28px;
	height: 20px;
	color: #fff;
	fill: #fff;
}
@media (max-width: 1024px) {
	.header-content {
	background: none;
	}
	.header-content .page-container {
		width: 100%;
	}
	.page-container {
		width: 694px;
	}
	.page-header {
		background: url(../images/media-header-bg.webp), url(../images/header-photo.webp);
		background-repeat: no-repeat, no-repeat;
		background-size: cover, cover;
	}
	.header-text-body, .header-text .default-heading, .header-text .page-btn, .header-text {
		margin: 0 auto;
		text-align: center;
	}
	.header-tel, .header-logo, .bottom-content .socials, .bottom-content .stripes, .page-btn img {
		display: none;
	}
	.upper-content {
		justify-content: flex-end;
		width: 100%;
		background-image: url(../images/footer-logo.webp);
		background-position: left 36px bottom 45px;
		background-repeat: no-repeat;
		padding-bottom: 60px;
		background-size: 84px 47px;
	}
	.header-nav {
		width: 110px;
		margin-top: 44px;
	}
	.header-btn {
		width: 64px;
	}
	.header-nav-stripe, .header-nav-stripe:before, .header-nav-stripe:after {
		width: 64px;
		height: 5px;
		background-color: #fff;
		border-radius: 5px;
		margin-right: 5px;
	}
	.header-nav-stripe:before {
		top: -20px;
	}
	.header-nav-stripe:after {
		top: 20px;
	}
	.header-text {
		padding: 0;
		margin-top: 142px;
	}
	.header-text .default-heading {
		font-size: 100px;
		width: 600px;
		line-height: 100px;
		padding-bottom: 67px;
	}
	.footer-photo {
		right: 0;
	}
	.header-text-body {
		font-size: 26px;
		max-width: 600px;
		line-height: 30px;
		padding-bottom: 60px;
	}
	 .header-text .page-btn {
		width: 438px;
		height: 110px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
	 }
	 .page-btn .btn-text {
	 	padding: 0;
	 }
	 .bottom-content {
	 	padding-bottom: 123px;
	 	background-image: url(../images/rotated-arrow.webp);
	 	background-repeat: no-repeat;
	 	background-position: center bottom 130px;
	 }
	 .main-advantages {
	 	padding: 0;
	 	padding-top: 60px;
	 	margin-bottom: 112px;
	 }
	 .advantages-content {
	 	justify-content: space-between;
	 	height: 900px;
	 	flex-wrap: wrap;
	 }
	 .advantages-element {
	 	width: 38.9%;
	 	padding: 0;
	 	display: flex;
	 	flex-direction: column;
	 	
	 }
	 .advantages-element h3 {
	 	font-size: 24px;
	 	padding-bottom: 13px;
	 }
	 .advantages-element .default-p {
	 	font-size: 18px;
	 }
	 	 .advantages-element:nth-child(3), .advantages-element:last-child {
	 		 margin: 0;
	 		 position: relative;
	 }
	 .advantages-element:last-child {
	 		 top: 40px;
	 }
	 .advantages-element:nth-child(3) {
	  	top: -50px;
	 }
	  .advantages-element:nth-child(2) {
	  	padding-top: 80px;
	  }
	 .advantages-element:nth-child(2), .advantages-element:last-child {
		margin-right: 75px;
	 }
	 .advantages-element .element-number {
	 	padding-bottom: 6px;
	 }
	.services-section {
		height: 1143px;
		margin-bottom: 200px;
		background-image: url(../images/services-photo.webp);
	  background-repeat: no-repeat;
	  background-position: bottom 328px center;
	}
	.click-option {
		height: 558px;
		flex-direction: row;
		margin-top: 50px;
		width: 100%;
		margin-top: 48px;
		align-items: flex-start;
		justify-content: flex-start;
		padding-bottom: 243px;
	}
	.click-option label, .click-option label:first-of-type, .click-option label:last-of-type, .click-option label:nth-of-type(5) {
		margin-top: 0;
		font-size: 22px;
		width: 50%;
		height: 50px;
		align-self: flex-start;
	}
 .click-option label:nth-of-type(3) {
		padding-right: 20px;
	}
	.click-option label:last-of-type, .click-option label:nth-of-type(5) {
	}
	.services-section .page-container {
		background-image: none;
		padding: 0;
		height: 1143px;
		position: relative;
	}
	.button-wrapper .button-text {
		position: absolute;
		bottom: 165px;
		right: 0;
		font-size: 22px;
		margin: 0;
	}
	.button-wrapper .services-btn {
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 340px;
		font-size: 18px;
		padding: 21px 0 21px 0;
	}
	.click-option .services-content {
		align-self: flex-end;
		margin: 0;
		margin-right: auto;
		width: 490px;
		position: absolute;
		bottom: 101px;
	}
	.video-section {
		height: 810px;
		padding-top: 26px;
		background: linear-gradient(to right, rgba(24, 44, 61, 0.7) 0%, rgba(24, 44, 61, 0.7)), url(../images/video-preview.webp) no-repeat center;
		-webkit-background-size: cover, cover;
		background-size: cover, cover;
	}
	.video-section .plus {
		margin-top: 0px;
		width: 130px;
		height: 130px;
	}
	.video-svg {
		width: 38px;
		height: 42px;
		right: -5px;
		top: 7px;	
	}
	.video-svg path {
		transform: scale(1.3);
	}
	.video-section p {
		font-size: 22px;
		width: 450px;
		text-align: center;
		margin: 0;
		padding-top: 35px;
	}
	.contacts-section {
		background-color: transparent;
		background: linear-gradient(to right, rgba(24, 44, 61, 0.9) 0%, rgba(24, 44, 61, 0.9)), url(../images/contacts-kitchen.webp);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: left top, left top;
		padding-bottom: 72px;
	}
	.contact-info {
		width: 560px;
		margin: 0 auto;
	}
	.contact-info .default-heading {
		font-size: 45px;
		text-align: center;
		width: 530px;
		margin: 0 auto;
	 }
	 .contact-info p {
	 	font-size: 22px;
	 	text-align: center;
	 	padding-right: 20px;
	 	padding-bottom: 50px;
	 }
	 .user-input {
	 	width: 475px;
	 	margin: 0 auto;
	 	margin-bottom: 42px;
	 }
	 .user-input::placeholder {
		font-size: 18px;
	}
	.contact-info svg, .contact-info svg path {
		right: 40px;
	}
	.contact-info svg:nth-child(2) {
	top: 83px;
	}
	.svg-envelope {
		top: 170px;
	}
	.contact-info .page-btn {
		width: 475px;
		font-size: 18px;
		margin: 0 auto;
		margin-top: 55px;
		padding: 25px 0 25px 0;
		letter-spacing: 0.1em;
	}
.contacts-section .contacts-footer {
		margin: 0 auto;
		font-size: 18px;
		padding: 0;
		padding-top: 14px;
		padding-bottom: 26px;
		line-height: normal;
		}
.reviews-section {
		background: url(../images/footer-main-photo.webp) no-repeat;
		padding-top: 180px;
		padding-bottom: 157px;
		background-position: right -27px top 53%;
		background-size: 215px 192px;
	}
.review-text {
		width: 650px;
		margin: 0;
		margin-top: 50px;
		z-index: -1;
	}
.footer-photo {
		display: none;
	}
	.reviews-section .stripes {
		margin-top: 63px;
	}
	.last-content {
		padding-right: 5px;
	}
	.footer-socials svg, .footer-socials svg path {
		width: 24px;
		height: 17px;
	}
	.last-content .footer-socials {
		width: 158px;
		padding-right: 7px;
	}
	.portfolio-section .portfolio-gallery {
		display: none;
	}
	.portfolio-section {
		padding-bottom: 170px;
	}
	.portfolio-section .page-container {
		padding-top: 80px;
	}
	.portfolio-navigation {
		width: 100%;
		padding-top: 42px;
		padding-bottom: 50px;
	}
	.portfolio-navigation a {
		font-size: 22px;
	}
	.portfolio-bottom-text {
		display: block;
		margin: 0 auto;
		width: 350px;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 0.05em;
		padding-top: 47px;
		color: #00203a;
	}
	.portfolio-adaptive {
		display: block;
		width: 100%;
		height: 613px;
		object-fit: cover;
	}
	.footer-content {
		background-color: #00203a;
	}
}
@media (max-width: 1170px) {
	.work-cards {
		margin: 0 auto;
		width: 700px;
	}
	.work-stages {
		padding-top: 180px;
	}
	.work-cards .work-element {
		padding: 0;
		margin: 0;
		width: 50%;
	}
	.work-stages .default-heading {
		width: 694px;
		margin: 0 auto;
		padding-bottom: 70px;
	}
	.work-cards {
		padding-left: 30px;
	}
	 .work-element h3, .work-element p {
	  margin: 0;
	  margin-left: 15%;
	}
	.work-element:first-child p {
		padding-bottom: 90px;
	}
	.work-element:nth-child(4) p {
		padding-bottom: 82px;
	}
	.work-element:nth-child(2), .work-element:nth-child(4), .work-element:last-child {
		padding-left: 10px;
	}
	.work-element:first-child .circle-number, .work-element:nth-child(3) .circle-number, .work-element:nth-child(5) .circle-number {
		left: -10px;
	}
	.work-element:nth-child(4) p, .work-element:nth-child(5) p {
		padding-top: 11px;
	}
	.work-element:nth-child(5) p, .work-element:last-child p {
	padding-bottom: 152px;
	}
	.reviews-section {
			background-size: 215px 192px, 0px 0px;
	}
}
@media (max-width: 700px) {
	.page-container {
		width: 292.25px;
	}
	.header-text .default-heading {
		width: 100%;
		font-size: 48px;
		line-height: normal;
		padding-bottom: 29px;
		line-height: 48px;
	}
	.header-text {
		margin-top: 47px;
		max-width: 440px;
	}
	.header-text-body {
		font-weight: 100;
		font-size: 18px;
		line-height: normal;
		padding-bottom: 30px;
	}
	.header-text .page-btn {
		width: 223px;
		font-size: 14px;
		height: 54px;
	}
	.upper-content {
		background-position: left 16px top 27px;
		background-repeat: no-repeat;
		padding-bottom: 60px;
		background-size: 39px 22px;
	}
	.header-nav {
		margin-top: 0;
		width: 55px;
		height: 60px;
	}
	.header-btn {
		width: 33px;
	}
	.header-nav-stripe, .header-nav-stripe:before, .header-nav-stripe:after {
		width: 33px;
		height: 2px;
	}
	.header-nav-stripe:before {
		top: -10px;
	}
	.header-nav-stripe:after {
		top: 10px;
	}
 	.bottom-content {
		padding-top: 0;
	 	padding-bottom: 170px;
	 	background-image: url(../images/rotated-arrow.webp);
	 	background-size: 15px 57px;
	 	background-repeat: no-repeat;
	 	background-position: center bottom 85px;
	 }
	 .main-advantages {
	 	padding-top: 35px;
	 	margin-bottom: 0;
	 }
	 .advantages-content {
	 	flex-wrap: nowrap;
	 	flex-direction: column;
	 	justify-content: flex-start;
	 	height: auto;
	 }
	 .advantages-content .advantages-element {
	 	width: 100%;
	 	padding: 0;
	 	position: static;
	 	margin: 0;
	  height: 300px;
	  
	 }
	 .advantages-element .element-number {
	 	padding: 0;
	 	padding-bottom: 10px;	
	 }
	 .advantages-element:first-child .element-number {
	 	padding-bottom: 5px;
	 }
	 .advantages-element:nth-child(2) {
		position: relative;
		top: -8px;
	 }
	  .advantages-element:nth-child(3) {
		margin-bottom: 10px;
	  }
	  .advantages-element:last-child {
	  	height: 340px;
	  }
	  .advantages-element:last-child h3{
	  	padding-bottom: 15px;
	  }
	  .portfolio-section {
		padding-bottom: 83px;
	  }
	  .portfolio-section .portfolio-navigation {
	  	flex-direction: column;
	  	padding-bottom: 15px;
	  }
	  .portfolio-adaptive {
	  	height: 530px;
	  }
	  .portfolio-bottom-text {
	  	font-size: 18px;
	  	width: 100%;
	  	padding-top: 23px;
	  }
	  .portfolio-section .default-heading {
	  	text-align: center;
	  }
	  .portfolio-navigation a {
	  	padding-bottom: 25px;
	  }
	  .portfolio-section .page-container {
	  	padding-top: 65px;
	  }
	 .services-section {
	 	background-position: bottom 365px center;
	 	margin-bottom: 0;
	 	height: auto;
	 }
	 .services-section .page-container {
	 	padding-bottom: 0px;
	 	height: 1245px;
	 }
	 .click-option {
	 	flex-direction: row;
	 	flex-wrap: wrap;
	 	height: auto;
	 	padding: 0;
	 	justify-content: flex-start;
	 	height: 370px;
	 	margin-top: 38px;
	 	margin-bottom: 40px;
	 }
	 .click-option label:nth-of-type(3) {
		height: 60px;
	 }
	 .click-option label, .click-option label:first-of-type, .click-option label:last-of-type, .click-option label:nth-of-type(5) {
	 	width: 100%;
	 	height: 40px;
	 }
	 .button-text {
	 	display: none;
	 }
	 .click-option .services-content {
	 	width: 100%;
	  font-size: 20px;
	  bottom: 100px;
	 }
	 .services-content .service-heading {
	 	display: none;
	 }
	 .button-wrapper .services-btn{
	 	width: 215px;
	 	padding: 18px 0px 18px 0px;
	 	left: 38px;
	 	font-size: 15px;
	 }
	 .services-content .service-text {
	 	font-size: 20px;
	 }
	 .video-section {
	 	height: 618px;
	 	margin-top: 108px;
	 }
	 .video-section p {
	 	width: 290px;
	 	line-height: 30px;
	 	padding-top: 24px;
	 }
	 .video-section .plus {
	 	width: 85px;
		height: 85px;
		margin-top: 10px;
	 }
	 .video-svg {
	 	width: 22px;
	  height: 25px;
	  top: 2px;
	 }
	 .video-svg path {
		transform: scale(0.8);
		}
		.work-stages {
		padding-top: 104px;
		padding-bottom: 40px;
		}
		.work-stages .work-cards {
			padding-left: 0;
		}
		.work-stages .default-heading {
			width: 180px;
			text-align: center;
			line-height: 54px;
			padding-bottom: 48px;
		}
	 .work-element:nth-child(5) p, .work-element:last-child p, .work-element:first-child p, .work-element:nth-child(4) p {
		padding-bottom: 0;
		}
		.work-stages .work-element {
			width: 100%;
			margin: 0;
			padding: 0;
			height: auto;
			padding-bottom: 50px;
		}
		.work-element:first-child h3 {
			padding-bottom: 32px;
		}
		.work-element:nth-child(2) {
			padding-bottom: 23px;
		}
		.work-element:nth-child(4) {
			padding-bottom: 16px;
		}
		.work-element:nth-child(5) {
			padding-bottom: 32px;
		}
		.work-element:nth-child(5) h3 {
		 padding-bottom: 29px;
		}
		.work-element:last-child h3 {
		 padding-bottom: 19px;
		}
		.work-element h3:after { 
			left: 3px;
		}
		.work-element:nth-child(4) h3:after, .work-element:nth-child(5) h3:after { 
			bottom: 8px;
		}
		.work-element .default-p {
			font-size: 18px;
			margin-left: 0;
			padding-bottom: 0;
		}
		.work-element h3 {
			font-size: 24px;
			margin-left: 0;
		}
		.work-element .circle-number {
			display: none;
		}
		.contacts-section .default-heading, .contacts-section p, .user-input, .contact-info .page-btn, .contacts-section .contact-info {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		.contacts-section .contacts-footer {
			margin: 0;
		}
		.contacts-section svg {
			display: none;
		}
		.contacts-section .default-heading {
			padding-top: 75px;
			letter-spacing: 0.01em;
			line-height: 54px;
		}
		.contacts-section .contact-info {
			padding-left: 0;
		}
		.contact-info p {
		font-size: 18px;
		padding-right: 0;
		padding-bottom: 40px;
		}
		.user-input {
			margin-bottom: 50px;
		}
	 .contact-info .user-input::placeholder {
	 	font-size: 18px;
	 }
	 .contact-info .page-btn {
	 	font-size: 18px;
	 	padding: 27px 0 25px 0;
	 	letter-spacing: 0.2em;
	 }
	  .contact-info .contacts-footer {
	 	font-size: 16px;
	 }
	 .reviews-section {
	 	padding-top: 135px;
	 	background-position: center top 337px;
	 	padding-bottom: 150px;
	 		 }
	 .reviews-section .review-text {
	 	width: 100%;
	 	padding: 0;
	 	padding-top: 190px;
	 	margin-top: 75px;
	 }
	 .reviews-section .default-heading {
		text-align: center;
		line-height: 55px;
	 }
		.review-text .default-p {
		font-size: 20px;
		text-align: center;
		padding-left: 12px;
		padding-right: 12px;
		line-height: 30px;
		margin-top: 20px;
		padding-bottom: 50px;
		}
		.review-text h3 {
			font-size: 24px;
			text-align: center;
			padding-bottom: 3px;
		}
		.review-text .yellow-text {
			font-size: 18px;
			text-align: center;
		}
		.reviews-section .stripes {
			margin-top: 46px;
		}
	 .last-content {
	 	flex-direction: column;
	 	align-items: center;
	 	padding-top: 97px;
	 }
	 .last-content p:first-child {
	 	order: 2;
	 	font-size: 20px;
	 	width: 100%;
	 	justify-content: center;
	 	margin-top: 50px;
	 	margin-bottom: 2px;
	 }
	 .last-content .footer-svg {
	 	display: none;
	 }
	 .last-content p:last-child {
	 	order: 3;
	 	margin: 0;
	 	text-align: center;
	 	font-size: 20px;
	 }
	 .last-svg {
	 	transform: scale(1.6);
	 }
	 .last-content .footer-socials {
		width: 215px;
		margin-top: 15px;
		padding: 0;
	 }
	}
	
